#LOC01
{
    display:                        flex;
    flex-direction:                 column;
    justify-content:                space-around;
    align-items:                    center;
    
    height:                         70vh;
    width:                          60vw;
    
    background-color: black;

}


.LOC-01-T-01
{
    width:                          100%;
    display:                        flex;
    justify-content:                space-around;

    
    
    
}

.LOC-GRD-T-01
{
    display:                        grid;
    grid-gap:                       1rem;
    
}



#LOC-GRD-01
{
    grid-template-columns:          repeat(10, 1fr);
    grid-template-areas:            "KBB-Q KBB-W KBB-E KBB-R KBB-T KBB-Y KBB-U KBB-I KBB-O KBB-P";  
}


#LOC-GRD-02
{
    grid-template-columns:          repeat(9, 1fr);
    grid-template-areas:            "KBB-A KBB-S KBB-D KBB-F KBB-G KBB-H KBB-J KBB-K KBB-L";
}


#LOC-GRD-03
{ 
    grid-template-columns:          repeat(7, 1fr);
    grid-template-areas:            "KBB-Z KBB-X KBB-C KBB-V KBB-B KBB-N KBB-M";   
}





/*BUTTONS*/




.KBBU-T-01
{
    font-size:                      3rem;
}


/*   *** START TOP ROW - INDIVIDUAL BUTTONS ***   */

#KBB-Q
{
    grid-area:                      KBB-Q;
}

#KBB-W
{
    grid-area:                      KBB-W;
}

#KBB-E
{
    grid-area:                      KBB-E;
}

#KBB-R
{
    grid-area:                      KBB-R;
}

#KBB-T
{
    grid-area:                      KBB-T;
}

#KBB-Y
{
    grid-area:                      KBB-Y;
}

#KBB-U
{
    grid-area:                      KBB-U;
}

#KBB-I
{
    grid-area:                      KBB-I;
}

#KBB-O
{
    grid-area:                      KBB-O;
}

#KBB-P
{
    grid-area:                      KBB-P;
}


/*   *** START MIDDLE ROW - INDIVIDUAL BUTTONS ***   */

#KBB-A
{
    grid-area:                      KBB-A;
}


#KBB-S
{
    grid-area:                      KBB-S;
}


#KBB-D
{
    grid-area:                      KBB-D;
}


#KBB-F
{
    grid-area:                      KBB-F;
}


#KBB-G
{
    grid-area:                      KBB-G;
}


#KBB-H
{
    grid-area:                      KBB-H;
}


#KBB-J
{
    grid-area:                      KBB-J;
}


#KBB-K
{
    grid-area:                      KBB-K;
}

#KBB-L
{
    grid-area:                      KBB-L;
}

/*   *** START BOTTOM ROW - INDIVIDUAL BUTTONS ***   */


#KBB-Z
{
    grid-area:                      KBB-Z;
}

#KBB-X
{
    grid-area:                      KBB-X;
}

#KBB-C
{
    grid-area:                      KBB-C;
}

#KBB-V
{
    grid-area:                      KBB-V;
}

#KBB-B
{
    grid-area:                      KBB-B;
}

#KBB-N
{
    grid-area:                      KBB-N;
}

#KBB-M
{
    grid-area:                      KBB-M;
}